.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #aa6817;
  border-radius: 40px;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background-color: #ddb892;
  color: white;
}

.BuildControl .More {
  background-color: #b08968;
  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background-color: #e6ccb2;
  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background-color: #e6ccb2;
  color: white;
}
