.Logo {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 5px;
  align-items: center;
}

.Logo img {
  height: 100%;
  margin: 0 3px;
}

.Logo span {
  font-size: medium;
  font-weight: bold;
}

@media (min-width: 600px) {
  .Logo span {
    font-size: large;
  }
}
